<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.yd.etravel.domain.user.User</value>
				<value>com.yd.etravel.domain.user.role.Role</value>
				<value>com.yd.etravel.domain.hotel.Hotel</value>
				<value>com.yd.etravel.domain.season.Season</value>
				<value>com.yd.etravel.domain.roomtype.RoomType</value>
				<value>com.yd.etravel.domain.occupancy.Occupancy</value>
				<value>com.yd.etravel.domain.season.RoomSeasonalRate</value>
				<value>com.yd.etravel.domain.room.Room</value>
				<value>com.yd.etravel.domain.hotel.Pax</value>
				<value>com.yd.etravel.domain.room.availability.RoomAvailability</value>
				<value>com.yd.etravel.domain.room.availability.RoomDailyAvailability</value>
				<value>com.yd.etravel.domain.extraitem.ExtraItem</value>
				<value>com.yd.etravel.domain.booking.Booking</value>
				<value>com.yd.etravel.domain.booking.HotelBooking</value>
				<value>com.yd.etravel.domain.booking.RoomBooking</value>
				<value>com.yd.etravel.domain.booking.ExtraItemBooking</value>
				<value>com.yd.etravel.domain.booking.Payment</value>
				<value>com.yd.etravel.domain.user.role.Function</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hbm2ddl.auto">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.lazy">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.cglib.use_reflection_optimizer">true</prop>
				<prop key="hibernate.max_fetch_depth">10</prop>
			</props>
		</property>
	</bean>
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound">
			<value>true</value>
		</property>
		<property name="locations">
			<list>
				<value>classpath:database.properties</value>
			</list>
		</property>
	</bean>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${db.driverClassName}" />
		<property name="url"
			value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
	</bean>
	<!-- Transaction manager for a single Hibernate SessionFactory (alternative 
		to JTA) -->
	<bean id="hibTransactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<!-- ***** proxyService ***** -->
	<bean id="userService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="hibTransactionManager" />
		</property>
		<property name="target">
			<ref local="userTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="authanticate*">PROPAGATION_SUPPORTS</prop>
				<prop key="find*">PROPAGATION_SUPPORTS</prop>
				<prop key="save*"> PROPAGATION_REQUIRED,-ServiceException</prop>
				<prop key="delete*"> PROPAGATION_REQUIRED,-ServiceException</prop>
			</props>
		</property>
	</bean>
	<bean id="seasonService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="hibTransactionManager" />
		</property>
		<property name="target">
			<ref local="seasonTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="find*">PROPAGATION_SUPPORTS</prop>
				<prop key="save*"> PROPAGATION_REQUIRED,-ServiceException</prop>
				<prop key="delete*"> PROPAGATION_REQUIRED,-ServiceException</prop>
			</props>
		</property>
	</bean>
	<bean id="hotelService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="hibTransactionManager" />
		</property>
		<property name="target">
			<ref local="hotelTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="find*">PROPAGATION_SUPPORTS</prop>
				<prop key="save*"> PROPAGATION_REQUIRED,-ServiceException</prop>
				<prop key="delete*"> PROPAGATION_REQUIRED,-ServiceException</prop>
			</props>
		</property>
	</bean>
	<bean id="roomTypeService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="hibTransactionManager" />
		</property>
		<property name="target">
			<ref local="roomTypeTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="find*">PROPAGATION_SUPPORTS</prop>
				<prop key="save*"> PROPAGATION_REQUIRED,-ServiceException</prop>
				<prop key="delete*"> PROPAGATION_REQUIRED,-ServiceException</prop>
			</props>
		</property>
	</bean>
	<bean id="occupancyService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="hibTransactionManager" />
		</property>
		<property name="target">
			<ref local="occupancyTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="find*">PROPAGATION_SUPPORTS</prop>
				<prop key="save*"> PROPAGATION_REQUIRED,-ServiceException</prop>
				<prop key="delete*"> PROPAGATION_REQUIRED,-ServiceException</prop>
			</props>
		</property>
	</bean>
	<bean id="paxService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="hibTransactionManager" />
		</property>
		<property name="target">
			<ref local="paxTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="find*">PROPAGATION_SUPPORTS</prop>
				<prop key="save*"> PROPAGATION_REQUIRED,-ServiceException</prop>
				<prop key="delete*"> PROPAGATION_REQUIRED,-ServiceException</prop>
			</props>
		</property>
	</bean>
	<bean id="roomAvailabilityService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="hibTransactionManager" />
		</property>
		<property name="target">
			<ref local="roomAvailabilityTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="find*">PROPAGATION_SUPPORTS</prop>
				<prop key="save*"> PROPAGATION_REQUIRED,-ServiceException</prop>
				<prop key="delete*"> PROPAGATION_REQUIRED,-ServiceException</prop>
			</props>
		</property>
	</bean>
	<bean id="roomService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="hibTransactionManager" />
		</property>
		<property name="target">
			<ref local="roomTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="find*">PROPAGATION_SUPPORTS</prop>
				<prop key="save*"> PROPAGATION_REQUIRED,-ServiceException</prop>
				<prop key="delete*"> PROPAGATION_REQUIRED,-ServiceException</prop>
			</props>
		</property>
	</bean>
	<bean id="searchService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="hibTransactionManager" />
		</property>
		<property name="target">
			<ref local="searchTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="find*">PROPAGATION_SUPPORTS</prop>
				<prop key="search*">PROPAGATION_SUPPORTS</prop>
				<prop key="save*"> PROPAGATION_REQUIRED,-ServiceException</prop>
				<prop key="delete*"> PROPAGATION_REQUIRED,-ServiceException</prop>
			</props>
		</property>
	</bean>
	<bean id="itemService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="hibTransactionManager" />
		</property>
		<property name="target">
			<ref local="itemTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="find*">PROPAGATION_SUPPORTS</prop>
				<prop key="search*">PROPAGATION_SUPPORTS</prop>
				<prop key="save*"> PROPAGATION_REQUIRED,-ServiceException</prop>
				<prop key="delete*"> PROPAGATION_REQUIRED,-ServiceException</prop>
			</props>
		</property>
	</bean>
	<bean id="bookingService"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref local="hibTransactionManager" />
		</property>
		<property name="target">
			<ref local="bookingTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="find*">PROPAGATION_SUPPORTS</prop>
				<prop key="search*">PROPAGATION_SUPPORTS</prop>
				<prop key="save*">PROPAGATION_REQUIRED,-ServiceException</prop>
				<prop key="delete*">PROPAGATION_REQUIRED,-ServiceException</prop>
			</props>
		</property>
	</bean>
	<bean id="bookingTask" class="com.yd.etravel.service.task.BookingTask">
		<property name="bookingManager">
			<ref local="bookingService" />
		</property>
	</bean>
	<bean id="jobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="bookingTask" />
		<property name="targetMethod" value="runTask" />
		<property name="concurrent" value="false" />
	</bean>
	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobDetail" />
		<!-- run every morning at 6 AM -->
		<property name="cronExpression" value="0 59 10 * * ?" />
		<property name="volatility" value="true" />
	</bean>
	<bean id="statusTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail">
			<ref bean="jobDetail" />
		</property>
		<property name="startDelay">
			<value>5000</value>
		</property>
		<property name="repeatInterval">
			<value>30000</value>
		</property>
	</bean>
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="statusTrigger" />
			</list>
		</property>
	</bean>
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="anilanaresorts@gmail.com" />
		<property name="password" value="anilana69" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>
	<bean id="userMailTarget" class="com.yd.etravel.util.mail.user.UserNotificationMail">
		<property name="mailSender" ref="mailSender" />
		<property name="subject" value="Successful User Registration" />
		<property name="from" value="anilanaresorts@gmail.com" />
	</bean>
	<bean id="bookingMailTarget"
		class="com.yd.etravel.util.mail.booking.BookingOverDueNotification">
		<property name="mailSender" ref="mailSender" />
		<property name="subject" value="Booking Overdue" />
		<property name="from" value="anilanaresorts@gmail.com" />
		<property name="cc" value="sales@anilana.com" />
	</bean>
	<bean id="bookingConfirmMailTarget" class="com.yd.etravel.util.mail.booking.BookingConfirmation">
		<property name="mailSender" ref="mailSender" />
		<property name="subject" value="Booking Confirmation" />
		<property name="from" value="anilanaresorts@gmail.com" />
		<property name="cc" value="sales@anilana.com" />
	</bean>
	<!-- business object implementation -->
	<bean id="userTarget" class="com.yd.etravel.service.user.UserManagerImpl">
		<property name="userDAO">
			<ref local="userDAOTarget" />
		</property>
		<property name="mailMessage">
			<ref local="userMailTarget" />
		</property>
	</bean>
	<bean id="seasonTarget" class="com.yd.etravel.service.season.SeasonManagerImpl">
		<property name="seasonDAO">
			<ref local="seasonDAOTarget" />
		</property>
		<property name="hotelDAO">
			<ref local="hotelDAOTarget" />
		</property>
	</bean>
	<bean id="hotelTarget" class="com.yd.etravel.service.hotel.HotelManagerImpl">
		<property name="hotelDAO">
			<ref local="hotelDAOTarget" />
		</property>
		<property name="userDAO">
			<ref local="userDAOTarget" />
		</property>
	</bean>
	<bean id="roomTypeTarget" class="com.yd.etravel.service.roomtype.RoomTypeManagerImpl">
		<property name="roomTypeDAO">
			<ref local="roomTypeDAOTarget" />
		</property>
	</bean>
	<bean id="paxTarget" class="com.yd.etravel.service.pax.PaxManagerImpl">
		<property name="paxDAO">
			<ref local="paxDAOTarget" />
		</property>
	</bean>
	<bean id="roomTarget" class="com.yd.etravel.service.room.RoomManagerImpl">
		<property name="roomDAO">
			<ref local="roomDAOTarget" />
		</property>
	</bean>
	<bean id="occupancyTarget" class="com.yd.etravel.service.occupancy.OccupancyManagerImpl">
		<property name="occupancyDAO">
			<ref local="occupancyDAOTarget" />
		</property>
		<property name="roomTypeDAO">
			<ref local="roomTypeDAOTarget" />
		</property>
	</bean>
	<bean id="roomAvailabilityTarget"
		class="com.yd.etravel.service.room.availability.RoomAvailabilityManagerImpl">
		<property name="roomAvailabilityDAO">
			<ref local="roomAvailabilityDAOTarget" />
		</property>
		<property name="roomDAO">
			<ref local="roomDAOTarget" />
		</property>
		<property name="occupancyDAO">
			<ref local="occupancyDAOTarget" />
		</property>
	</bean>
	<bean id="searchTarget" class="com.yd.etravel.service.search.SearchManagerImpl">
		<property name="searchDAO">
			<ref local="searchDAOTarget" />
		</property>
		<property name="seasonDAO">
			<ref local="seasonDAOTarget" />
		</property>
		<property name="roomAvailabilityDAO">
			<ref local="roomAvailabilityDAOTarget" />
		</property>
	</bean>
	<bean id="bookingTarget" class="com.yd.etravel.service.booking.BookingManagerImpl">
		<property name="bookingDAO">
			<ref local="bookingDAOTarget" />
		</property>
		<property name="extraItemDAO">
			<ref local="itemDAOTarget" />
		</property>
		<property name="roomAvailabilityDAO">
			<ref local="roomAvailabilityDAOTarget" />
		</property>
		<property name="userDAO">
			<ref local="userDAOTarget" />
		</property>
		<property name="bookingMessage">
			<ref local="bookingMailTarget" />
		</property>
		<property name="bookingConfirmation">
			<ref local="bookingConfirmMailTarget" />
		</property>
		<property name="onlineExpire">
			<value>48</value>
		</property>
		<property name="onrequestExpire">
			<value>48</value>
		</property>
	</bean>
	<bean id="itemTarget" class="com.yd.etravel.service.extraitem.ExtraItemManagerImpl">
		<property name="itemDAO">
			<ref local="itemDAOTarget" />
		</property>
	</bean>
	<!--DAO implementations -->
	<bean id="userDAOTarget" class="com.yd.etravel.persistence.dao.user.UserDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="seasonDAOTarget" class="com.yd.etravel.persistence.dao.season.SeasonDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="hotelDAOTarget" class="com.yd.etravel.persistence.dao.hotel.HotelDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="roomTypeDAOTarget" class="com.yd.etravel.persistence.dao.roomtype.RoomTypeDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="paxDAOTarget" class="com.yd.etravel.persistence.dao.pax.PaxDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="occupancyDAOTarget" class="com.yd.etravel.persistence.dao.occupancy.OccupancyDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="roomAvailabilityDAOTarget"
		class="com.yd.etravel.persistence.dao.room.availability.RoomAvailabilityDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="roomDAOTarget" class="com.yd.etravel.persistence.dao.room.RoomDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="searchDAOTarget" class="com.yd.etravel.persistence.dao.search.SearchDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="itemDAOTarget" class="com.yd.etravel.persistence.dao.extraitem.ExtraItemDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="bookingDAOTarget" class="com.yd.etravel.persistence.dao.booking.BookingDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<!--User Profile implementations -->
	<bean id="userProfileTarget" class="com.yd.etravel.service.util.UserProfile" />
	<!--User Profile implementations -->
	<bean id="ipgService" class="com.yd.etravel.util.IpgUtil">
		<property name="virtualPaymentClientURL" value="https://migs.mastercard.com.au/vpcpay" />
		<property name="secureSecret" value="9C32CD65AB6944E70A47D75D9ED008F2" />
		<property name="vpc_Version" value="1" />
		<property name="vpc_Command" value="pay" />
		<property name="vpc_AccessCode" value="27DB6C7F" />
		<property name="vpc_Merchant" value="TEST112157482805" />
		<property name="vpc_OrderInfo" value="Room Booking" />
		<property name="vpc_ReturnURL"
			value="http://www.anilana.com:8080/ydete/admin/bookingCallBack.do" />
		<property name="vpc_Locale" value="en" />
		<property name="successCode" value="0" />
	</bean>
</beans>