@charset "utf-8";
/* common */
body {
	background-color: #333333;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;	
	color: #858585;
	height: 100%;
    margin: 0px 0px 0px 0px;
	
}

.pageBody
{
	background-color: #000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;	
	color: #858585;	
    padding: 0px 0px 0px 0px;
	border:3px solid #272727;
	border-collapse:collapse;

}

.mainLogo
{
	background-image:url(../images/imgMainLogo.jpg);
	background-repeat:no-repeat;
	background-color:#000000;
	height:94px;
	width:227px;
	vertical-align:middle;
	padding-left:100px;
	padding-top:20px;

}

.flashBg
{
	background-color:#c1c1c1;
	height:310px;

}

/* common - end */


/* Menu */
.mainMenuText
{
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;

}

/* Menu - end */

/* Main Index */
.insTextBG
{
	background-image:url(../images/imgInsText.jpg);
	background-repeat:no-repeat;
	background-color:#000000;
	height:108px;
	width:661px;
}

.bookingBtn
{
	background-image:url(../images/btnBooking.jpg);
	background-repeat:no-repeat;
	background-color:#000000;
	height:87px;
	width:236px;
	vertical-align:middle;
	cursor:hand;
}

.indexTblBorder
{
	border: 1px solid #1a1a1a; 
	border-collapse:collapse;
}

.imgBottom
{

	background-image:url(../images/imgBottom.jpg);
	background-repeat:no-repeat;
	background-color:#000000;
	height:27px;
	width:920px;
	vertical-align:top;
}

/* Main Index -end */

/* Inner page */
.innerTblBorderRM
{
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #1a1a1a;
	width:200px;
	height:300px;

}

.innerTblBorderLM
{
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	border-left:1px solid #1a1a1a;
	border-right:1px solid #000000;

}


.innerTblBorderTOP
{
	border-bottom:1px solid #000000;
	border-top:1px solid #1a1a1a;
	border-left:1px solid #000000;
	border-right:1px solid #000000;

}

.innerTblBorderBTM
{
	border-bottom:1px solid #1a1a1a;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;

}

.txtHeadingBlue
{
	color:#1e7eb0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	padding-left:20px;

}

.txtHeadingLBlue
{
	color:#75c4eb;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	padding-left:20px;
	height:50px;

}

.txtNormal
{
	color:#858585;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;	
	text-align:left;
	padding-left:20px;
}

.txtWhiteBold
{
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;	
	text-align:left;
	font-weight:bold;
	padding-left:20px;
}

a
{
	color:#0066cc;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;	
	text-align:left;
	text-decoration:none;
	
}


/* Inner page - end  */
