/* ========= NAVIGATION ===========

	Sphereon Web Styles
		Index Styles
		Top Frame Styles
		Bottom Frame Styles
		Left Frame Styles
		Right Frame Styles  
	
	Sphereon Client Pages Styles
 		Logos Table Styles
 		Client Pages Styles
		
	Sphereon Client Styles
	
	Sphereon Inbox Styles
		Inbox Top Styles
		Mail Styles
		
	Loading Styles
		
 */
 
body {
	background-color: #FFFFFF;
	
	scrollbar-face-color: #EDF0F2;
	scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color:#CDD7DC;
	scrollbar-darkshadow-color: #000000;
	scrollbar-shadow-color: #9EABC2;
	scrollbar-arrow-color: #4B5B78;
	scrollbar-track-color: #EDF0F2;
}
.whiteSpace {
	background-color: #FFFFFF;
}

/* ======================================== Sphereon Web Styles =============================================== */

/* -------------------------------------- Index Styles ---------------------------------------*/
.indexMainTableBG {
	background-color: #EDF0F2;
}
.indexOutline {
	background-color: #002375;
}
.indexTableOutLine {
	background-color: #BBC4D5;
}
.indexMainTitle {
	background-color: #BBC4D5;
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-left: 12px;
}
.indexTitle {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
.indexContentBold {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
.indexContentNormal {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
.indexContentNormalRed {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #CC0000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
.indexButton-01 {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #C9D0DD;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #BBC4D5;
	border-left-color: #BBC4D5;
	border-right-color: #002375;
	border-bottom-color: #002375;
	padding-right: 3px;
	padding-left: 3px;
}
.indexTextBox-01 {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #BBC4D5;
	border-left-color: #BBC4D5;
	border-right-color: #002375;
	border-bottom-color: #002375;
	padding-right: 3px;
	padding-left: 3px;
}
.indexSelectBox-01 {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #BBC4D5;
	border-left-color: #BBC4D5;
	border-right-color: #BBC4D5;
	border-bottom-color: #BBC4D5;
	padding-right: 2px;
	padding-left: 2px;
	height: 18px;
	width: 130px;
}
a.indexLink {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #596C91;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
}
a.indexLink:hover {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
}

/* ---------------------------------- End of Index Styles ------------------------------------*/

/* ------------------------------------- Top Frame Styles ------------------------------------ */

.top01Slide {
	background-color: #EDF0F2;
}
.top02Slide {
	background-color: #BBC4D5;
}
.topOutline {
	background-color: #CC0000;
}
.sphereonTop {
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #BBC4D5;
}
.topLinkDisable {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #596C91;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
}
a.topLink {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #596C91;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
}
a.topLink:hover {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
}

/* ------------------------------------ End of Top Frame Styles ----------------------------- */

/* -------------------------------------- Bottom Frame Styles -------------------------------- */

a.bottomLink {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #3F4D65;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
}
a.bottomLink:hover {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
}
.copyRight {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
}

/* -------------------------------------- End of Bottom Frame Styles ----------------------------- */

/* ----------------------------------------- Left Frame Styles --------------------------------- */

.leftHorizontalline {
	background-color: #CC0000;
}
.leftTitle {
	background-color: #EDF0F2;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
.leftContentBold {
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
.leftContentNormal {
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
.leftButton-01 {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #C9D0DD;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #BBC4D5;
	border-left-color: #BBC4D5;
	border-right-color: #002375;
	border-bottom-color: #002375;
	padding-right: 3px;
	padding-left: 3px;
	height: 18px;
	width: 120px;
}
.leftTextBox-01 {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #BBC4D5;
	border-left-color: #BBC4D5;
	border-right-color: #BBC4D5;
	border-bottom-color: #BBC4D5;
	padding-right: 3px;
	padding-left: 3px;
	height: 18px;
	width: 120px;
}
.leftSelectBox-01 {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #BBC4D5;
	border-left-color: #BBC4D5;
	border-right-color: #BBC4D5;
	border-bottom-color: #BBC4D5;
	padding-right: 2px;
	padding-left: 2px;
	height: 18px;
	width: 120px;
}
a.leftLink {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 0px;
	width: 130px;
}
a.leftLink:hover {
	background-color: #EDF0F2;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #375873;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 0px;
	width: 130px;
}

/* -------------------------------------- End of Left Frame Styles ----------------------------- */

/* --------------------------------------- Right Frame Styles ------------------------------- */

.rightCageOutline {
	background-color: #002375;
}
.rightMainTableBG {
	background-color: #EDF0F2;
}
.rightTableOutlineDark {
	background-color: #002375;
}
.rightTableOutLine {
	background-color: #BBC4D5;
}
.rightTableMainTitleSpace {
	background-color: #D6D6D6;
}
.rightTableLine01 {
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right-color: #BBC4D5;
	border-bottom-color: #FFFFFF;
}
.rightTableMainTitle {
	background-color: #D6D6D6;
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-bottom: 2px;
	padding-left: 12px;
}
.rightTableMainTitleAAR {
	background-color: #D6D6D6;
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-bottom: 2px;
	padding-left: 5px;
}
.rightTableSubTitle {
	background-color: #C9D0DD;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
.rightTableSubTitleNormal {
	background-color: #C9D0DD;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
.rightTableContentBoldMainBG {
	background-color: #EDF0F2;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
.rightTableContentBoldMainBGLight {
	background-color: #F7F8F9;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
.rightTableContentNormalMainBG {
	background-color: #EDF0F2;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
.rightTableContentNormalMainBGLight {
	background-color: #F7F8F9;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
.rightTableContentBold {
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
.rightTableContentNormal {
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
a.rightTableLinkBold {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #002375;
	text-decoration: underline;
	padding-right: 4px;
	padding-left: 4px;
}
a.rightTableLinkBold:hover {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	text-decoration: underline;
	padding-right: 4px;
	padding-left: 4px;
}
a.rightTableLink {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #003399;
	text-decoration: underline;
	padding-left: 5px;
}
.rightTableButton-01 {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #C9D0DD;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #BBC4D5;
	border-left-color: #BBC4D5;
	border-right-color: #002375;
	border-bottom-color: #002375;
	padding-right: 3px;
	padding-left: 3px;
}
.rightTableTextBox-01 {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #BBC4D5;
	border-left-color: #BBC4D5;
	border-right-color: #002375;
	border-bottom-color: #002375;
	padding-right: 3px;
	padding-left: 3px;
}


.rightTableTextBox-02 {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	padding-right: 3px;
	padding-left: 3px;
}
.rightTableTextBox-02-rightAlign {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	text-align: right;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	padding-right: 3px;
	padding-left: 3px;
}
.rightTableSelectBox-01 {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #BBC4D5;
	border-left-color: #BBC4D5;
	border-right-color: #BBC4D5;
	border-bottom-color: #BBC4D5;
	padding-right: 2px;
	padding-left: 2px;
	height: 18px;
	width: 130px;
}
.rightTableTextArea-01 {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #BBC4D5;
	border-left-color: #BBC4D5;
	border-right-color: #BBC4D5;
	border-bottom-color: #BBC4D5;
	padding-right: 2px;
	padding-left: 2px;
	width: 130px;
}
.rightTableTextArea-02 {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #BBC4D5;
	border-left-color: #BBC4D5;
	border-right-color: #BBC4D5;
	border-bottom-color: #BBC4D5;
	padding-right: 2px;
	padding-left: 2px;
	width: 200px;
}
.rightTableTextArea-03 {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #BBC4D5;
	border-left-color: #BBC4D5;
	border-right-color: #BBC4D5;
	border-bottom-color: #BBC4D5;
	padding-right: 2px;
	padding-left: 2px;
	width: 100%;
}
.rightTableError {
	font-family: Verdana;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #CC0000;
	background-color: #FFFFFF;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
.rightTableImportant {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FF0000;
	background-color: #FFFFFF;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}

/* ------------------------------------- End of Right Frame Styles ----------------------------- */

/* ====================================== End of Sphereon Web Styles ============================================ */


/* ===================================== Sphereon Client Pages Styles =========================================== */

/* ---------------------------------------- Logos Table Styles ---------------------------------*/

.logosLine01 {
	background-color: #CC0000;
}
.logosLine02 {
	background-color: #002375;
}
.logosLine03 {
	background-color: #C9D0DD;
}
.logosTextNormal {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
}
.logosPoweredBy {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #939393;
	text-decoration: none;
	padding-top: 3px;
	padding-left: 6px;
}

/* ------------------------------------- End of Logos Table Styles -----------------------------*/

/* -------------------------------------- Client Pages Styles ---------------------------------*/

.clientPagesMainTableBG {
	background-color: #EDF0F2;
}
.clientPagesTableOutLine {
	background-color: #C9D0DD;

}
.clientPagesTableOutLineDark {
	background-color: #071156;
}
.clientPagesTableContentNormalItalic {
	font-family: Verdana;
	font-size: 9px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #FFFFFF;
}
.clientPagesSloganItalic {

	font-family: Verdana;
	font-size: 9px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	text-decoration: none;
	padding-left: 0px;
	
}
.clientPagesTableMainTitle {
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
	background-color: #D6D6D6;
}
.clientPagesTableSubTitle {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #C9D0DD;
}

.clientPagesTableSubTitleNew {
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #C9D0DD;
}

.clientPagesButtonbarSubTitle {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	
}
.warningMessage {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FF4500;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	
}

.clientPagesTableContentBold {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #EDF0F2;
}
.clientPagesTableContentBoldBGLight {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #F7F8F9;
}
.clientPagesTableContentNormal {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #EDF0F2;
}
.clientPagesTableContentNormalBGLight {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #F7F8F9;
}
.clientPagesTableContentBoldBGWhite {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #FFFFFF;
}
.clientPagesTableContentNormalBGWhite {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #F7F8F9;
}
.clientPagesTableContentNormalBGWhite0 {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #F7F8F9;
}
.clientPagesTableContentNormalBGWhite1 {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #FFFFFF;
}

.clientPagesTableContentNormalRedBGWhite {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #CC3300;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #FFFFFF;
}
.clientPagesTableContentNormalRed {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #CC3300;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #EDF0F2;
}
.clientPagesTableContentNormalSuper {
	font-family: Verdana;
	font-size: 8px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 0px;
	padding-left: 0px;
	vertical-align: super;
	background-color: #EDF0F2;
}
.clientPagesHelp {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #7A7A7A;
	text-decoration: none;
	padding-top: 3px;
	padding-left: 6px;
}
a.clientPagesLinkBold {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #666699;
	text-decoration: none;
	padding-left: 0px;
}
a.clientPagesLinkBold:hover {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #999999;
	text-decoration: none;
	height: auto;
	width: auto;
	padding-left: 0px;
	margin: 0px;
}
a.clientPagesLink01 {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000099;
	text-decoration: underline;
	padding-right: 2px;
	padding-left: 4px;
}
a.clientPagesLink02 {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000099;
	text-decoration: none;
	padding-right: 2px;
	padding-left: 0px;
}

a.clientPagesLink02:hover {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000099;
	text-decoration: underline;
	padding-right: 2px;
	padding-left: 0px;
}
a.invoicePagesLink01 {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000099;
	text-decoration: none;
	padding-right: 2px;
	padding-left: 0px;
}
a.invoicePagesLink01:hover {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000099;
	text-decoration: underline;
	padding-right: 2px;
	padding-left: 0px;
}
a.invoicePagesLink02 {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #CC6600;
	text-decoration: underline;
	padding-right: 2px;
	padding-left: 0px;
}
a.invoicePagesLink02:hover {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #CC6600;
	text-decoration: none;
	padding-right: 2px;
	padding-left: 0px;
}
.clientPagesError {
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #CC3300;
	text-decoration: none;
}
.clientPagesButton01 {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #C9D0DD;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #C9D0DD;
	border-right-color: #071156;
	border-bottom-color: #071156;
	border-left-color: #C9D0DD;
}
.clientPagesButton02 {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #EDF0F2;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #C9D0DD;
	border-right-color: #071156;
	border-bottom-color: #071156;
	border-left-color: #C9D0DD;
}
.clientPagesTextBox-01 {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #BBC4D5;
	border-left-color: #BBC4D5;
	border-right-color: #002375;
	border-bottom-color: #002375;
	padding-right: 3px;
	padding-left: 3px;
}
.clientPagesTextBox-02 {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	background-color: #C9D0DD;
	border:0px;
	width: 80 px;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
}
.clientPagesTextBox-03 {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	background-color: #EDF0F2;
	border:0px;
	width: 80 px;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
}
.clientPagesSelectBox-01 {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #BBC4D5;
	border-left-color: #BBC4D5;
	border-right-color: #BBC4D5;
	border-bottom-color: #BBC4D5;
	padding-right: 2px;
	padding-left: 2px;
	height: 18px;
	width: 130px;
}
.clientPagesSelectBox-02 {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #BBC4D5;
	border-left-color: #BBC4D5;
	border-right-color: #BBC4D5;
	border-bottom-color: #BBC4D5;
	padding-right: 2px;
	padding-left: 2px;
	
	width: 250px;
}

/* ------------------------------------ End of Content Table Styles -------------------------------*/

/* ================================ End of Sphereon Client Pages Styles ========================================= */


/* ===================================== Sphereon Client Styles ================================================= */

.clientMainTableBG {
	background-color: #EDF0F2;
}
.clientMainTableBGSemiTransparent {
 	
}
.clientTableOutLine {
	background-color: #C9D0DD;
}
.clientTableOutLineDark {
	background-color: #071156;
}
.clientAccountingTableOutLine {
	background-color: #F9F9F9;
}
a.clientSearch {
	font-family: Verdana;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	letter-spacing: normal;
	text-align: left;
	vertical-align: top;
	word-spacing: normal;
	white-space: nowrap;
}
a.clientMoreInfo {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 10px;
}
.clientContentNormal {
	font-family: Verdana;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-left: 0px;
	white-space: nowrap;
	height: 10px;
	vertical-align: top;
}
.clientContentBold {
	font-family: Verdana;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 0px;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	height: 10px;
}
.clientSearchResult {
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #657D8D;
	text-decoration: none;
}
.clientSearchHeading {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
}
.clientTextbox01 {
	font-family: Verdana;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	height: 15px;
	padding-left: 2px;
	background-color: #FFFFFF;
	border: 1px solid #B0AEC1;
}
.clientTextboxHidden {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	background-color: #FFFFFF;
	border:0px;
	width: 30 px;
	height:12 px;
	align: center;
	text-decoration: none;
	padding-right: 0px;
	padding-left: 0px;
}
a.clientLink01 {
	font-family: Verdana;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000099;
	text-decoration: underline;
	height: 10px;
	padding-left: 2px;
}

/* ===================================== End of Sphereon Client Styles ========================================== */


/* ======================================== Sphereon Inbox Styles =============================================== */

/* ---------------------------------------- Inbox Top Styles -------------------------------------------*/

.inboxTop01Slide {
	background-color: #EDF0F2;
}
.inboxTop02Slide {
	background-color: #C7CFD6;
}
.inboxTopTableOutLine {
	background-color: #9FB0BB;
}
.inboxTopMainTitle {
	font-family: Verdana;
	font-size: 15px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #003399;
	text-decoration: none;
	background-color: #EDF0F2;
}
.inboxTopSubTitle {
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #C7CFD6;
}
.inboxTopSphereon {
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #688191;
	text-decoration: none;
}

/* ------------------------------------ End of Inbox Top Styles ----------------------------------------*/

/* ------------------------------------------ Mail Styles ----------------------------------------------*/

.mailInboxTableTop {
	background-color: #EDF0F2;
}
.mailInboxTableOutLine {
	background-color: #9FB0BB;
}
.mailInboxTableTitle {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #003399;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
	background-color: #EDF0F2;
}
.mailInboxTableContentBold {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
.mailInboxTableContentNormal {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
a.mailInboxTableLink {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #003399;
	text-decoration: underline;
	padding-right: 5px;
	padding-left: 5px;
}
.mailInboxTableButton01 {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #748798;
	text-decoration: none;
	background-color: #EDF0F2;
	border: 1px solid #8596A5;
	height: 16px;
	padding-right: 2px;
	padding-left: 2px;
	vertical-align: middle;
}
.mailContent {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

/* -------------------------------------- End of Mail Styles -------------------------------------------*/

/* ===================================== End of Sphereon Inbox Styles ========================================== */
 
/* ======================================== Loading Styles ===================================================== */

.loadingLine01 {

	background-color: #3D3DB8;
}
.loadingLine02 {
	background-color: #99CC00;
}
.loadingContent {
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #768A96;
	text-decoration: none;
	
}
.warningContentBold {
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 0px;
}
.analysisTopBG {
	background-color: #E8E8E8;
}
.analysisTopTagLine {
	font-family: Verdana;
	font-size: 9px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
}
.analysisTopLineLight {
	background-color: #CCCCCC;
}
.analysisTopLineDark {
	background-color: #939393;
}
.analysisTopMainTitle {
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #525252;
	text-decoration: none;
}
.analysisStepsInactive {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	text-decoration: none;
	padding-bottom: 3px;
}
.analysisBarometer {
	background-color: #3D3DB8;
}
.analysisBarometerActive {
	background-color: #99CC00;
}
.analysisStepsActive {

	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #688A00;
	text-decoration: none;
	padding-bottom: 3px;
}
.analysisStepsActiveBlack {

	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-bottom: 3px;
}
.analysisContentBoldBlack {

	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #525252;
	text-decoration: none;
}

.analysisTableSubtitleColor1 {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #B7C0D2;
	padding-top: 3px;
	padding-bottom: 3px;

}
.analysisTableSubtitleColor2 {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #D5DAE3;
	padding-top: 6px;
	padding-bottom: 3px;

}
.analysisTableContentNormalRow1Color1 {

	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #F8FAFC;
	padding-top: 3px;
	padding-bottom: 3px;
}
.analysisTableContentNormalRow1Color2 {

	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #F2F3F7;
	padding-top: 3px;
	padding-bottom: 3px;
}

.analysisTableContentChangedRow1Color2 {

	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #CC0000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #F2F3F7;
	padding-top: 3px;
	padding-bottom: 3px;
}

.analysisTableContentNormalRow2Color1 {


	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #EAECF2;
	padding-top: 3px;
	padding-bottom: 3px;
}

.analysisTableContentChangedRow2Color1 {


	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #CC0000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #EAECF2;
	padding-top: 3px;
	padding-bottom: 3px;
}
.analysisTableContentNormalRow2Color2 {


	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #D9DDE6;
	padding-top: 3px;
	padding-bottom: 3px;
}

.analysisTreeButton {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #C9D0DD;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #C9D0DD;
	border-right-color: #071156;
	border-bottom-color: #071156;
	border-left-color: #C9D0DD;
	height: 15px;
	width: 15px;
	left: 2px;
	top: 2px;
	right: 2px;
	bottom: 2px;


}
.analysisTableContentNormalWhite {



	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #FFFFFF;
	padding-top: 3px;
	padding-bottom: 3px;
}

.analysisContentNormalBlack {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #525252;
	text-decoration: none;
}
.analysisNextArrow {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #C9D0DD;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #C9D0DD;
	border-right-color: #071156;
	border-bottom-color: #071156;
	border-left-color: #C9D0DD;
	height: 20px;
	width: 25px;


}
.analysisNextButton {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #C9D0DD;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #C9D0DD;
	border-right-color: #071156;
	border-bottom-color: #071156;
	border-left-color: #C9D0DD;
	height: 20px;
	width: 95px;
} 
.analysisButton {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #C9D0DD;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #C9D0DD;
	border-right-color: #071156;
	border-bottom-color: #071156;
	border-left-color: #C9D0DD;
	height: 20px;
}

.analysisContentBoldBlackBGwhite {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #525252;
	text-decoration: none;
	background-color: #FFFFFF;

}

.analysisContentBoldRed {


	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #CC0000;
	text-decoration: none;
}

.analysisUnsertainTitle {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	text-decoration: none;
	background-color: #EAEAEA;

}

.analysisUnsertainTableSubtitleColor1 {

	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #C7C7C7;
	padding-top: 3px;
	padding-bottom: 3px;
}
.analysisUnsertainTableSubtitleColor1Outline {
	background-color: #C7C7C7;
}

.analysisUnsertainTableSubtitleColor2 {


	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #D7D7D7;
	padding-top: 3px;
	padding-bottom: 3px;
}
.analysisUnsertainTableContentNormalRow1Color2 {


	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #EAEAEA;
	padding-top: 3px;
	padding-bottom: 3px;
}
.analysisUnsertainTableContentNormalRow1Color1 {


	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #F5F5F5;
	padding-top: 3px;
	padding-bottom: 3px;
}
.analysisUnsertainTableContentNormalRow2Color1 {



	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #E4E4E4;
	padding-top: 3px;
	padding-bottom: 3px;
}
.analysisUnsertainTableContentNormalRow2Color2 {



	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #D6D6D6;
	padding-top: 3px;
	padding-bottom: 3px;
}
.analysisUnknownTitle {

	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	text-decoration: none;
	background-color: #FFE6E6;
}
.analysisUnknownTableSubtitleColor1 {


	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #FFA6A6;
	padding-top: 3px;
	padding-bottom: 3px;
}
.analysisUnknownTableSubtitleColor1Outline {
	background-color: #FFA6A6;
}

.analysisUnknownTableSubtitleColor2 {



	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #FFC4C4;
	padding-top: 3px;
	padding-bottom: 3px;
}
.analysisUnknownTableContentNormalRow1Color1 {



	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #FFF0F0;
	padding-top: 3px;
	padding-bottom: 3px;
}
.analysisUnknownTableContentNormalRow1Color2 {




	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #FFDFDF;
	padding-top: 3px;
	padding-bottom: 3px;
}
.analysisUnknownTableContentNormalRow2Color1 {




	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #FFDFDF;
	padding-top: 3px;
	padding-bottom: 3px;
}
.analysisUnknownTableContentNormalRow2Color2 {





	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-right: 4px;
	padding-left: 4px;
	background-color: #FFCCCC;
	padding-top: 3px;
	padding-bottom: 3px;
}
a.analysisLinkRedNormal {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #CC0000;
	text-decoration: none;
}
a.analysisLinkRedBold {

	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #CC0000;
	text-decoration: none;
}

/* ===================================== End of Loading Styles ========================================== */
